.star-active{
   color:yellow;
}
.inactive{
  color: black;
}
.star-rating{
    width:100vw;
    height: 100vh;
    background: rgb(205, 204, 205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}